body{
  margin: 0;
  padding: 0;
  background-color: #3A6B35;
  font-family: Arial, Helvetica, sans-serif;
}

.calcdiv{
  padding:1.5rem;
  background-color:#E3B448 ;
  text-transform: uppercase;
  text-align: center;
  width:40%;
  margin:auto;
  margin-top: 1rem;
  border: rgb(50, 52, 54) 3px solid;
  border-radius: 20px;

}

.answdiv{
  padding:2rem;
  background-color: #CBD18F;
  text-transform: uppercase;
  text-align: center;
  width:50%;
  margin:auto;
  margin-top:1rem;
  border: rgb(50, 52, 54) 3px solid;
  border-radius: 20px;
  font-size: x-large;
}

input{
  margin: .3rem;
  border-radius: 10px;
}

button{
  background-color: #3A6B35;
  padding: .5rem;
  color:white;
  border-radius: 10px;
  margin:.5rem;
  margin-top:1.5rem;
  font-size: large;
}

span{
  text-transform: uppercase;
  font-weight: bold;
  color: #E3B448 ;
  text-align: center;
  margin: 2rem;
}